*:focus-visible, *:focus-within { outline: none; outline-width: 0px; }

textview {
  background: transparent; 
  color: black;
}

window {
  background: white;
  color: black; 
}

.search_bar {
  margin: 10px 0px;
}

.search_input {
  font-size: 12px;
  background-color: white;  
  color: #08D9D6; 
  caret-color: #08D9D6; 
  border: 2px solid #08D9D6;
  border-radius: 6rem;

  padding: 0px 35px; 
}

.search_input:focus-visible, .search_input:focus-within {
  background-color: #08D9D6;  
  caret-color: white;
  color: white;
}

.search_button {
  background-image: none; 
  background-color: white; 
  color: #08D9D6; 
  border: 2.5px solid #08D9D6;
  border-radius: 6rem; 
}

.search_button:focus-visible, .search_button:focus-within, .search_button:hover {
  background-color: #08D9D6;  
  color: white; 
}

.html_container {
}

.html_container text selection {
  background: #08D9D6;
}

.header {
  font-weight: bolder; 
}

.header-1 { font-size: 32px; }
.header-2 { font-size: 24px; }
.header-3 { font-size: 18.72px; }
.header-4 { font-size: 16px; }
.header-5 { font-size: 13.28px; }
.header-6 { font-size: 10.72px; }

.bold-text { font-weight: bolder; }
.italic-text { font-style: italic; }
.a-link {
  background: none; 
  padding: 0; 
  color: blue; 
  text-decoration: underline;
  border: none;
  box-shadow: none;
}