/*
 *
 * Color palette: 
 *  - first: #364f6b
 *  - second: #3fc1c9
 *  - third: #f5f5f5
 *  - fourth: #fc5185 
 *  - fifth: #0f0f0f
 *
 *  - text: #f5f5f5
 *  - background: #0f0f0f
 *  - primary: #3fc1c9
 *  - secondary: #364f6b
 *  - err/tertiary: #fc5185
 *
 */

@define-color text #f5f5f5; 
@define-color background #0f0f0f; 
@define-color primary #3fc1c9; 
@define-color secondary #364f6b; 
@define-color tertiary #fc5185; 

@define-color input_background #525252; 
@define-color input_text #f5f5f5;
@define-color input_placeholder #c9c9c9;

.searchbar {
  padding: 10px;
}

.search-input {
  font-size: 15px;
  background-color: @input_background;  
  color: @input_text; 
  border-radius: .2rem; 

  padding: 3px; 
  caret-color: @input_text; 
}

textview {
  background: transparent; 
}

.search-button {
  background-image: none; 
  background-color: @input_background; 
  color: @input_text; 
}

.search-button:hover {
  background-color: @background; 
  color: @text; 
  transition: .3s;
}

.header {
  font-weight: bolder; 
}

.header-1 { font-size: 32px; }
.header-2 { font-size: 24px; }
.header-3 { font-size: 18.72px; }
.header-4 { font-size: 16px; }
.header-5 { font-size: 13.28px; }
.header-6 { font-size: 10.72px; }

.bold-text { font-weight: bolder; }
.italic-text { font-style: italic; }